<div class="container mb-4">
  <div class="row" >
    <div class="container bar">
      <div class="col-md-6 login-section-wrapper" >
        
        <div class="login-wrapper my-auto">
          <h1 class="login-title">Log in to Tweet</h1>
          <div class="alert alert-danger" role="alert" *ngIf="isValidServer">
            Something Went wrong while logging in.
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="inValidLogin">
            The username and password you entered did not match our records.
            Please double-check and try again.
          </div>
          <div class="brand-wrapper">
            <img src="assets/images/Twitter-Logo.png" alt="logo" class="logo" />
          </div>
          <form [formGroup]="login_form" >
            <div class="form-group">
              <label for="username">Username</label>
              <input
                type="text"
                formControlName="userName"
                id="email"
                class="form-control"
                placeholder="Enter Username"
              />
            </div>
            <div class="form-group mb-4">
              <label for="password">Password</label>
              <input
                type="password"
                formControlName="password"
                id="password"
                class="form-control"
                placeholder="Enter Passsword"
              />
            </div>
            <button
              id="login"
              class="btn btn-block login-btn"
              [disabled]="!login_form.valid"
              (click)="login()"
            >
              Login
            </button>
          </form>
          <a routerLink="/forgot-password">Forgot password?</a>
          <p>.</p>
          <a routerLink="/register"
            >Register here</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
